:root {
  --color_primario: #4d0b79a8;
  --color_primario_suave: #8527c3fd;
  --altura_header: 80px;
  --padding_left_right: 2rem;
  --ancho_maximo: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color_primario);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
.header {
  height: var(--altura_header);
  background-color: var(--color_primario);
}
.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 var(--padding_left_right);
}
.menuHamburger {
  display: none;
}
.menuHamburger:checked + .ulLinks {
  height: calc(100vh - var(--altura_header));
}

.logo {
  height: 100%;
}
.logo img {
  height: 100%;
}

.List_icon {
  color: white;
  cursor: pointer;
}
.ulLinks {
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #8527c3fd;
  top: var(--altura_header);
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  transition: all 0.3s;
}

.links {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
.tituloContainer {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 25px;
  margin: 10px 10px 10px 10px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20rem;
  width: 10rem;
  background-color: rgba(255, 255, 255, 0.253);
  border-radius: 5px;
  border: 1px solid;
}
.card img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .labelHamburger {
    display: none;
  }
  .ulLinks {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 2rem;
  }
  .links {
    font-size: 1.5rem;
    transition: all 0.3s;
  }
  .links:hover {
    padding: 2rem 0.7rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-left: 25px;
    margin: 10px 10px 10px 10px;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20rem;
    width: 13rem;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 5px;
    border: 1px solid;
  }
  .card img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-radius: 5px;
  }
  .carrito{
    background-color: rgba(255, 255, 255, 0.253);
    width: 100%;
  }
  .info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 1.3rem;
    font-style:oblique ;
  }
  .buttonsCar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
